@font-face {
    font-family: 'IRANSANS';
    src: url('font/IRANSansWeb_UltraLight.woff') format('woff'), url('font/IRANSansWeb_UltraLight.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'IRANSANS BOLD';
    src: url('font/IRANSansWeb_Medium.woff') format('woff'), url('font/IRANSansWeb_Medium.ttf') format('truetype');
    font-style: normal;
}
html,body{
    font-family: 'IRANSANS';
}